/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.editor-wrapper {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toolbar {
  margin-bottom: 20px;
}

/* Estilos do botão de download */
#download-button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

#download-button:hover {
  background-color: #45a049;
}

#download-button:before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #45a049;
  width: 0;
  transition: width 0.3s;
}

#download-button:hover:before {
  content: "Baixar";
  width: 100%;
}

/* Estilos do seletor de linguagem */
#language-select {
  padding: 10px;
  font-size: 16px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos do botão de upload */
#upload-button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #2196F3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

#upload-button:hover {
  background-color: #0D47A1;
}

/* Estilos do seletor de arquivo */
#file-upload {
  display: none;
}

/* Estilos do rótulo do seletor de arquivo */
.upload-label {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.upload-label:hover {
  background-color: #e0e0e0;
}


/* Estilos do editor de código */
#editor {
  width: 100%;
  min-height: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  line-height: 1.4;
  white-space: pre-wrap;
  background-color: #f8f8f8;
  color: #333;
}

#suggestions-container {
  margin: 20px 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.suggestion-item {
  padding: 5px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f2f2f2;
}

/* Estilos responsivos */
@media (max-width: 700px) {
  .editor-wrapper {
    height: 80vh;
  }
}